/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Helper classes */

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}


/*-----My Theme style---------*/


/*-------------------------
body&wrapper
Sidebar common
Navigation menu
Sitebar social links
Header content block
Border in stack of paper's style
Content styles
Timeline style
Download block
Skills block
Portfolio styles
Contact styles
Scroll to top block's style
-------------------------*/


/*body&wrapper*/

body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background: #FAFAFA url("../img/diagmonds.png") repeat scroll 0 0;
    color: #6c6662;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    padding: 15px 0;
}


/* Sidebar common*/

aside {
    margin-top: 50px;
    width: 243px;
    float: left;
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.05);
    color: #747474;
    height: auto;
    text-align: center;
}


/*Sidebar head*/
.sidebar-header {
    text-align: center;
    text-transform: uppercase;
}

.sidebar-header h2 span {
    display: block;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.sidebar-header h2 {
    font-family: 'Cuprum', sans-serif;
    font-size: 27px;
    font-weight: bold;
    line-height: 30px;
    margin: 30px 0 0 0;
}


/*Navigation menu*/

nav ul {
    display: block;
    position: relative;
    padding: 0;
}

nav ul li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

nav ul li a {
    padding: 20px;
    display: block;
    position: relative;
    color: #747474;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    
}

nav ul li a:hover{
    background-color: #eeeeee;
    text-decoration: none;
    color: #747474;
}

/*Sitebar social links*/

.sidebar-soc ul {
    border-top: 1px dashed;
    list-style: outside none none;
    margin: 0;
    padding: 10px;
}

.sidebar-soc ul li {
    display: inline;
    font-size: 16px;
    margin: 0 7px;
}

.sidebar-soc ul li>a {
    color: #747474;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

.hhicon {
    font-size: 20px;
    line-height: 18px;
    font-weight: 900;
    color:#747474;
}

.sidebar-soc ul li>a:hover,a>.hhicon:hover {
    color:#fba24e;
}



/*Header content block*/

article {
    width: 848px;
    float: right;
}

section {
    padding-bottom: 60px;
    padding-top: 60px;
}

section:last-child {
    padding-bottom: 120px;
}

header {
    padding-top: 50px;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
}

header img {
    display: block;
    margin: 0 auto;
    width: 200px;
}

header h1 {
    /*font-family: PT Sans;*/
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 30px;
}

header hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

header h3 {
    /*font-family: PT Sans;*/
    font-size: 21px;
    line-height: 40px;
    font-weight: normal;

}


/*Border in stack of paper's style*/

.papers:before {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    content: "";
    height: 100%;
    left: -10px;
    position: absolute;
    top: 10px;
    transform: rotate(0deg);
    width: 100%;
    z-index: -1;
}

.papers {
    background: #fff;
    border: 1px solid #cccccc;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.papers:after {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    content: "";
    height: 100%;
    left: -10px;
    position: absolute;
    top: 8px;
    transform: rotate(358.5deg);
    width: 100%;
    z-index: -2;
}

#portfolio .papers:after {
    transform: rotate(0deg);
    top: 8px;
    left: -23px;
}


/*Content styles*/

.section-content {
    padding: 30px 30px 30px 20px;
}

.papers h2 {
    color: #373432;
    /*font-family: PT Sans;*/
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 50px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

a {
    font-size: 14px;
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}


/*Timeline style*/

.timeline {
    background: rgba(0, 0, 0, 0) url("../img/line.png") repeat-y scroll 126px 0;
}

.timeline-item {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.timeline-item-date {
    margin-top: 30px;
    width: 100px;
    float: left;
    /*font-family: PT Sans;*/
    font-size: 14px;
}

.timeline-item-trigger {
    margin: 13px 12px 0 4px;
    background: #3bc2c8;
    border-radius: 136px;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 28px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    width: 46px;
}

.timeline-item-head {
    margin: 12px 15px 5px 104px;
    background: #fba24e;
    border-radius: 136px;
    color: #ffffff;
    float: left;
    font-size: 28px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    width: 46px;
}

.timeline-item-content,
.timeline-item-headtext {
    padding: 10px 30px;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    position: relative;
    width: 545px;
}

.timeline-item-content>h3 {
    margin: 10px 0 10px;
    color: #363636;
    cursor: pointer;
    /*font-family: PT Sans;*/
    font-weight: normal;
    line-height: 30px;
    font-size: 24px;
}

.timeline-item-arrow {
    display: block;
    position: relative;
}

.timeline-item-arrow i {
    background-color: #f5f5f5;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    height: 10px;
    width: 10px;
    top: 20px;
    left: -36px;
    position: absolute;
    display: block;
    transform: rotate(-45deg);
    z-index: 10;
}

.timeline-item-headtext h3 {
    margin: 15px 0;
    color: #363636;
    /*font-family: PT Sans;*/
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
}

.timeline-item-content-spoiler h3 {
    margin-bottom: 10px;
    /*font-family: PT Sans;*/
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}

/*Download block*/

.download a {
    padding: 15px 25px;
    margin: 0 0 20px 0;
    display: inline-block;
    color: #ffffff;
    background-color: #fba24e;
    border: 1px solid #fba24e;
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    border-radius: 9px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
}

.download {
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 44px 28px 44px 20px;
    padding: 10px 30px;
    position: relative;
    text-align: center;
}

.download h3 {
    color: #363636;
/*    font-family: PT Sans;*/
    font-weight: normal;
    font-size: 24px;
}

/*Skills block*/

.skills-row h3 {
    margin: 50px 0px 20px 0px;
/*    font-family: PT Sans;*/
    font-size: 21px;
    font-weight: normal;
    line-height: 30px;
}

.one-skill p{
    margin-top:35px;
}

.progress-bar {
    margin-bottom: 20px;
    height: 10px;
}

.progress-cell {
    float: left;
    height: 100%;
    width:19.5%;
    background-color: #f7f7f9;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    margin-right: 0.5%;
}

.progress-fill-1>.progress-cell:nth-child(-n+1),
.progress-fill-2>.progress-cell:nth-child(-n+2),
.progress-fill-3>.progress-cell:nth-child(-n+3),
.progress-fill-4>.progress-cell:nth-child(-n+4),
.progress-fill-5>.progress-cell:nth-child(-n+5){
    background-color: #00bba6;
}

/*Portfolio styles*/
#portfolio>.papers>.section-content p,
#portfolio>.papers>.section-content li{
font-size: 15px;
}

.portfolio-project ul{
margin-top:5px;
margin-bottom: 5px;
}

.portfolio-image,
.portfolio-aim,
.portfolio-result {
    min-height: 185px;
    float: left;
}

.portfolio-aim-title,
.portfolio-result-tech{
    margin-bottom: 30px;
}


.portfolio-aim p {
    line-height: 18px;
    margin-bottom: 0px;
}

.portfolio-image {
    margin-right: 10px;
    width: 240px;
}

.portfolio-aim {
    padding-left: 9px;
    padding-right: 9px;
    border-right: 1px dashed;
    width: 250px;
}

.portfolio-result {
    padding-left: 19px;
    width: 250px;
}

.portfolio-title h3 {
    text-align: center;
    margin: 60px auto 30px;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    width: 80%;
    padding: 10px;
    color: #363636;
/*    font-family: PT Sans;*/
    font-weight: normal;
    line-height: 30px;
    font-size: 24px;
}

.portfolio-project h4 {
    margin: 0px 0px 10px 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}

.portfolio-aim-title p {
    font-size: 15px;
}

.portfolio-image img {
    border: 1px solid #D9D9D9;
    width: 240px;
}

.portfolio-result-achiev p {
    margin: 0px;
}

.portfolio-result-achiev>.portfolio-result-date,
.portfolio-result-achiev>ul>.portfolio-result-date{
    margin-top: 1em;
}

/*Contact styles*/

#contact>.papers>.section-content>p {
    margin: 14px 83px 14px 93px;
    font-size: 15px;
    line-height: 22px;
}

.contact-list {
    text-align: center;
}

.contact-list-first-col,
.contact-list-second-col {
    display: inline-block;
    text-align: left;
}

.contact-list-first-col p,
.contact-list-second-col p {
    line-height: 40px;
    margin: 15px 60px 15px 20px;
    font-size: 15px;
}

.contact-list-first-col>li>i,
.contact-list-second-col>li>i {
    height: 40px;
    width: 40px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    text-align: center;
    background-color: #f54f36;
    color: #ffffff;
}

.hhicon-contacts{
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    text-indent: 1px;
}

/*Scroll to top block's style*/

.scroll-top {
    bottom: 0;
    right: 10px;
    position: fixed;
    height: 30px;
    width: 30px;
    background-color: #070707;
    color:white;
    line-height: 30px;
    text-align: center;
    display: none;
    z-index: 9999;
    -webkit-transition: height 0.5s ease-in 0s;
    -moz-transition: height 0.5s ease-in 0s;
    -o-transition: height 0.5s ease-in 0s;
    transition: height 0.5s ease-in 0s;
}

.scroll-top:hover{
    color:white;
    height: 50px;
    -webkit-transition: height 0.5s ease-in 0s;
    -moz-transition: height 0.5s ease-in 0s;
    -o-transition: height 0.5s ease-in 0s;
    transition: height 0.5s ease-in 0s;
}